@model WebApplication1.Models.Client
@{
  Layout = "_Layout";  
    ViewData["Title"] = "Client Modification";
  
}
<div class="container">
    <h1 class="display-4">Modification - Client:</h1>
    <form method="post" enctype="multipart/form-data" asp-controller="Account" asp-action="ModificationClientPost" onsubmit="return checkPassword();">
    @await Html.PartialAsync("InscriptionClientForm")
      <div class="d-grid mb-3">
                  <label for="Logo">Logo</label>
                  <input type="file" class="form-control-file" id="logo">
              </div>
    <button type="submit" class="btn btn-success">Modifier</button>
    </form>
</div>