@{
    Layout = "_Layout";  
    ViewData["Title"] = "Membre Modification";
}

<div class="container">
    <h1 class="display-4">Modification - Membre:</h1>
    <form method="post" enctype="multipart/form-data">
        <div class=" d-flex flex-column align-items-start ">
                <label for="role_select">Votre Rôle</label>
                <select name="role" id="role_select">
                        <option value="">Choisissez une option</option>
                        <option value="dispatcher">Dispatcher</option>
                        <option value="chauffeur">Chauffeur</option>
                    </select>
            </div>
        <div class="form-group mb-3">
            <label for="matricule">Matricule</label>
            <input type="text" class="form-control" id="matricule" placeholder="Matricule">
        </div>
        <div class="form-group mb-3">
            <label>Nom et Prénom</label>
            <div class="d-flex mb-3">
                <input name="nameValue" type="text" class="form-control" id="name" placeholder="Nom">
                <input type="text" class="form-control" id="surname" placeholder="Prénom">
            </div>
        </div>
        <div class="form-group mb-3">
            <label for="mail">Adresse Mail</label>
            <input type="email" class="form-control" id="mail" placeholder="Adresse mail">
        </div>
        <div class="form-group mb-3">
            <label for="passwordUser">Mot de passe</label>
            <input type="password" class="form-control" id="passwordUser" placeholder="Mot de passe">
        </div>
        <div class="form-group mb-3">
            <label for="passwordUserConfirm">Confirmation du mot de passe</label>
            <input type="password" class="form-control" id="passwordUserConfirm" placeholder="Confirmation du mot de passe">
        </div>
        <div class="form-group mb-3" id="roleComplete">

        </div>
        <div class="form-group mb-3">
            <label for="birthdate">Date de Naissance</label>
            <input type="date" class="form-control" id="birthdate" placeholder="Date de naissance">
        </div>
        <button type="submit" class="btn btn-primary">Confirmer</button>
    </form>
</div>