@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles = "Admin")]
@{
Layout = "_Layout";  
ViewData["Title"] = "Gestion des Clients";
@model List<Client>
}


<div class="container">
    <h1 class="display-4 me-4">Gestion des Clients: </h1>
    <div class="mb-5">
        <ul class="list-group">
           @foreach (var client in Model)
           {
               <li class="list-group-item d-flex justify-content-between align-items-center">

               @client.NomEntreprise

           <form method="post" asp-controller="Home" asp-action="UpdateClientStatus">
               <input type="hidden" name="id" value="@client.Id" />
               <input type="checkbox" name="isMauvaisPayeur" value="true" @(client.isMauvaisPayeur ? "checked" : "") onchange="this.form.submit()" />
               <label for="mauvaisPayeur-@client.Id">Mauvais Payeur</label>
           </form>
           </li>
           }
        </ul>
    </div>
</div>


