@{
    Layout = "_Layout";  
    ViewData["Title"] = "Authentification";
}

<div class="container">
    <h1 class="display-4">Authentification:</h1>
    <form>
        <div class="form-group mb-3">
                    <label for="mail">Mail</label>
                    <input type="email" class="form-control" id="mail" placeholder="email">
                </div>
        <div class="form-group mb-3">
            <label for="passwordUser">Mot de passe</label>
            <input type="password" class="form-control" id="passwordUser" placeholder="Mot de passe">
        </div>
        <button type="submit" class="btn btn-primary">Confirmer</button>
    </form>
</div>