@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Mvc.TagHelpers
@attribute [Authorize(Roles = "Admin")]
@{
    Layout = "_Layout";  
    ViewData["Title"] = "Dispatch";
}
<div class="container">
    <div class="d-flex align-items-center">
    <h1 class="display-4 me-4">Authentification:</h1>
        <button type ="button" class="btn btn-info">Rafraichir</button>
        </div>
    <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Livraison 70
            <a class="btn btn-secondary" asp-controller="Home" asp-action="GererLivraison">Gérer</a>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Livraison 71    
            <button class="btn btn-secondary">Gérer</button>
        </li>
    </ul>
</div>