@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Mvc.TagHelpers
@attribute [Authorize(Roles = "Dispatcher")]
@{
    Layout = "_Layout";  
    ViewData["Title"] = "Dispatch";
}
@model WebApplication1.ViewModel.TwoListLivraison
<div class="container">
    <div class="d-flex align-items-center">
        <h2 class="display-4 me-4">Livraisons à traitées: </h2>
        <a type ="submit" asp-action="refreshWindow" asp-controller="Livraison" class="btn btn-info">Rafraichir</a>
    </div>
    <div>
    @await Html.PartialAsync("ListElements/_AllLivraisonToAttribute", Model)
    </div>
</div>
