@{
    Layout = "_Layout";
    ViewData["Title"] = "Gérer la livraison ";
    @model List<Chauffeur>
}
<div class="container">
    <h1 class="display-4 me-4">Gérer la Livraison XX:</h1>
    <h2>Chauffeur</h2>
    <form>
    <div class="mb-2" id="formChauffeur">
        <select class="form-select" id="chauffeurSelect" aria-label="Default select example">
            <option selected>Choissisez un Chauffeur</option>
            @RenderSection("ListChauffeurDispo")
        </select>
    </div>
        <div id="formCamion">
            <h2>Camion</h2>
            <div id="camionShow">

            </div>
        </div>
    </form>
</div>

@section ListChauffeurDispo{
    @foreach (Chauffeur chauffeur in Model)
    {
        <option value="@chauffeur.ID">@chauffeur.Prenom @chauffeur.Nom</option>
    }
}