@model WebApplication1.Models.Client
@{
  Layout = "_Layout";  
    ViewData["Title"] = "Client Inscription";
}
@section Scripts {
    <script>
        function checkPassword() {
            var motDePasse = document.getElementById('passwordUser').value;
            var motDePasseConfirm = document.getElementById('passwordUserConfirm').value;

            if (motDePasse !== motDePasseConfirm) {
                alert("Les mots de passe ne correspondent pas.");
                return false;
            }
            return true;
        }
    </script>
}

<div class="container">
    <h1 class="display-4">Inscription - Client:</h1>
    <form method="post" enctype="multipart/form-data" asp-controller="Account" asp-action="InscriptionClientPost" onsubmit="return checkPassword();">
    @await Html.PartialAsync("InscriptionClientForm")
  </form>
</div>