@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Mvc.TagHelpers
@attribute [Authorize(Roles = "Client")]
@{
  Layout = "_Layout";  
    ViewData["Title"] = "Livraison";
}
<div class="container">
    <h2 class="display-4">Livraison :</h2>
    <a class="btn btn-secondary" asp-controller="Home" asp-action="CreerLivraison">Créer une Livraison</a>
    <h2 class="display-4">Historique</h2>
  <div class="mb-5">
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">Identification</th>
        <th scope="col">État</th>
        <th scope="col">Controle</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th scope="row">Livraison 64</th>
        <td><span class="badge rounded-pill bg-warning text-dark"> Validé </span></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">Livraison 65</th>
        <td><span class="badge rounded-pill bg-danger">En cours</span></td>
        <td><a class="btn btn-secondary btn-sm">Modifier</a></td>
      </tr>
      <tr>
        <th scope="row">Livraison 66</th>
        <td><span class="badge rounded-pill bg-danger">En cours</span></td>
        <td><a class="btn btn-secondary btn-sm">Modifier</a></td>
      </tr>
      </tbody>
    </table>
  </div>
  <hr class="hr hr-blurry mb-5" />
  <div>
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Identification</th>
                <th scope="col">État</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Livraison 64</th>
                <td><span class="badge rounded-pill bg-success">Livrée</span></td>
              </tr>
              <tr>
                <th scope="row">Livraison 65</th>
                <td><span class="badge rounded-pill bg-success">Livrée</span></td>
              </tr>
              <tr>
                <th scope="row">Livraison 66</th>
                <td><span class="badge rounded-pill bg-success">Livrée</span></td>
              </tr>
            </tbody>
          </table>
      </div>
</div>