@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Mvc.TagHelpers
@attribute [Authorize(Roles = "Client")]
@{
  Layout = "_Layout";  
    ViewData["Title"] = "Livraison";
  @model List<Livraison>
}
<div class="container">
  <h2 class="display-4">Livraison :</h2>
  <a class="btn btn-secondary" asp-controller="Home" asp-action="CreerLivraison">Créer une Livraison</a>
  <h2 class="display-4">Historique</h2>
  <div class="mb-5">
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">Identification</th>
        <th scope="col">État</th>
        <th scope="col">Controle</th>
      </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
  <hr class="hr hr-blurry mb-5" />
  <div>
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">Identification</th>
        <th scope="col">État</th>
      </tr>
      </thead>
      <tbody>
      
      </tbody>
    </table>
  </div>
</div>
