@{
    Layout = "_Layout";  
    ViewData["Title"] = "Dispatcher Modification";
}
@section Scripts {
    <script>
        function checkPassword() {
            var motDePasse = document.getElementById('passwordUser').value;
            var motDePasseConfirm = document.getElementById('passwordUserConfirm').value;

            if (motDePasse !== motDePasseConfirm) {
                alert("Les mots de passe ne correspondent pas.");
                return false;
            }
            return true;
        }
    </script>
}
<div class="container">
    <h1 class="display-4">Modification - Dispatcher:</h1>
    <form method="post" enctype="multipart/form-data" asp-controller="Account" asp-action="ModificationDispatcher" onsubmit="return checkPassword();">
        <div class="form-group mb-3">
            <label for="matricule">Matricule</label>
            <input type="text" class="form-control" id="matricule" placeholder="Matricule" name="matricule">
        </div>
        <div class="form-group mb-3">
            <label>Nom et Prénom</label>
            <div class="d-flex mb-3">
                <input type="text" class="form-control" id="name" placeholder="Nom" name="nom">
                <input type="text" class="form-control" id="surname" placeholder="Prénom" name="prenom">
            </div>
        </div>
        <div class="form-group mb-3">
            <label for="mail">Adresse Mail</label>
            <input type="email" class="form-control" id="mail" placeholder="Adresse mail" name="email">
        </div>
        <div class="form-group mb-3">
            <label for="passwordUser">Mot de passe</label>
            <input type="password" class="form-control" id="passwordUser" placeholder="Mot de passe" name="passwordUser">
        </div>
        <div class="form-group mb-3">
            <label for="passwordUserConfirm">Confirmation du mot de passe</label>
            <input type="password" class="form-control" id="passwordUserConfirm" placeholder="Confirmation du mot de passe" name="passwordUserConfirm">
        </div>
        <div class="form-group mb-3" id="roleComplete">

        </div>
        <div class="form-group mb-3">
            <label for="birthdate">Date de Naissance</label>
            <input type="date" class="form-control" id="birthdate" placeholder="Date de naissance" name="dateNaissance">
        </div>
        <div class="d-grid mb-3" >
            <label for="profil">Photo de profil</label>
            <input type="file" class="form-control-file" id="profil" name="profil">
        </div>
        <label class="form-check-label"> Choissisez votre diplome de plus haut niveau</label>
        <div><input class="form-check-input" name="divName" type="radio" value="CESS" id="diplome"><label class="form-check-label ms-3" for="diplome">CESS</label></div>
        <div><input class="form-check-input" name="divName" type="radio" value="Bachelier" id="diplome"><label class="form-check-label ms-3" for="diplome">Bachelier</label></div>
        <div><input class="form-check-input" name="divName" type="radio" value="Licencier" id="diplome"><label class="form-check-label ms-3" for="diplome">Licencier</label></div>
        <button type="submit" class="btn btn-primary">Confirmer</button>
    </form>
</div>