@model WebApplication1.Models.Camion
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Mvc.TagHelpers
@attribute [Authorize(Roles = "Admin")]
@{
    Layout = "_Layout";  
    ViewData["Title"] = "Modifier Un Camion";
}

<div class="container">
    <h1 class="display-4">Modifier un Camion:</h1>
    <form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="ModificationCamion">
        <div class="form-group mb-3">
            <label for="Immatriculation">Plaque d'immatriculation</label>
            <input asp-for="Immatriculation" type="text" class="form-control" id="immat" placeholder="Immatriculation">
        </div>
        <div class="form-group mb-3">
            <label for="Modele">Modèle</label>
            <input asp-for="Modele"type="text" class="form-control" id="Modele" placeholder="Modele">
        </div>
        <div class="form-group mb-3">
            <label for="Marque">Marque</label>
            <input asp-for="Marque" type="text" class="form-control" id="marque" placeholder="Marque">
            </div>
        <div class="form-group mb-3">
            <label for="Tonnage">Tonnage Max</label>
            <input asp-for="Tonnage" type="text" class="form-control" id="Tonnage" placeholder="Tonnage">
        </div>
        <div class="d-grid mb-3" >
            <label for="Img">Image du Camion</label>
            <input asp-for="Img" type="file" class="form-control-file" id="img">
        </div>
        <div class="form-check mb-4">
            <label class="form-check-label"> Choissisez le permis nécessaire pour le camion</label>
            <div>
                <input asp-for="Type" class="form-check-input" type="radio" name="Type" value="C" id="permisC">
                <label class="form-check-label ms-3" for="permisC">Permis C</label>
            </div>
            <div>
                <input asp-for="Type" class="form-check-input" type="radio" name="Type" value="CE" id="permisCE">
                <label class="form-check-label ms-3" for="permisCE">Permis CE</label>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Confirmer</button>
    </form>
</div>
