@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Mvc.TagHelpers
@attribute [Authorize(Roles = "Chauffeur")]
@{
    Layout = "_Layout";  
    ViewData["Title"] = "Rater la Livraison";
    @model Livraison
}
<div class="container">
    <h1 class="display-4 me-4">Rater la Livraison @Model.ID:</h1>
    <form enctype="multipart/form-data" asp-controller="Home" asp-action="RaterLivraison" asp-route-id="@Model.ID" >
        <div class="form-group mb-3">
                    <label for="motif">Motif </label>
            <select  name="motif" asp-items="Html.GetEnumSelectList<Livraison.Motif>()" class="form-control"></select></div>
        <div class="mb-3">
                    <label for="commentaire" class="form-label">Commentaire</label>
                    <textarea class="form-control" id="commentaire" name="commentaire" rows="3"></textarea>
                </div>
        <button class="btn btn-warning" type="submit">Valider la non livraison</button>
    </form>
</div>