@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles = "Admin")]
@{
Layout = "_Layout";  
ViewData["Title"] = "Statistiques";
}
<div class="container">
<h1 class="display-4 me-4">Statistiques :</h1>
    <div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="Hubert,Gare,23/02,..." aria-label="Hubert,Gare,23/02,..." aria-describedby="recherche">
  <button class="btn btn-secondary" type="button" id="recherche">Recherche</button>
</div>
<div class="mb-5">
    <table class="table table-striped">
      <thead>
      <tr>
        <th id="clientSort" class="btn-outline-dark" scope="col">Client</th>
        <th id="dateSort" class="btn-outline-dark" scope="col">Date</th>
        <th id="chauffeurSort" class="btn-outline-dark" scope="col">Chauffeur</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th scope="row">Livraison 64</th>
        <td>20/12/2014</td>
        <td>Jean Rose</td>
      </tr>
      <tr>
        <th scope="row">Livraison 64</th>
        <td>20/12/2014</td>
        <td>Jean Rose</td>
      </tr>
      <tr>
        <th scope="row">Livraison 64</th>
        <td>20/12/2014</td>
        <td>Jean Rose</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>