@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Mvc.TagHelpers
@attribute [Authorize(Roles = "Chauffeur")]
@{
    Layout = "_Layout";  
ViewData["Title"] = "Valider la Livraison";
    @model Livraison
}
<div class="container">
    <h1 class="display-4 me-4">Valider la Livraison @Model.ID:</h1>
    <h2>Livraison @Model.ID</h2>
    <form enctype="multipart/form-data" asp-controller="Livraison" asp-action="ValiderLivraison" asp-route-id="@Model.ID" >
        <div class="mb-3">
            <label for="dateDeChargementEf" class="form-label">Date de Chargement effectuée</label>
            <input name="dateDeChargementEf" type="date" class="form-control" id="dateDeChargementEf" >
        </div>
        <div class="mb-3">
            <label for="heureDeChargementEf" class="form-label">Heure de Chargement effectuée</label>
            <input name="heureDeChargementEf" type="time" class="form-control" id="heureDeChargementEf" >
            </div>
        
        <div class="mb-3">
            <label for="commentaire" class="form-label">Commentaire</label>
            <textarea class="form-control" id="commentaire" name="commentaire" rows="3"></textarea>
        </div>
        <button class="btn btn-primary " type="submit">Valider la Livraison</button>
    </form>
</div>